@import url("https://fonts.googleapis.com/css?family=Quicksand");
body {
  margin: 0;
  font-family: Quicksand;
}
/*
HEADER===============
*/

/*
MAIN_CONTENT===============
*/

/*
=========HOME===============
*/
.home-hero {
  height: 600px;
  background-image: url(https://images.unsplash.com/photo-1434493789847-2f02dc6ca35d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80);
  background-size: cover;
}

.home-hero-txt {
  color: rgba(248, 248, 248, 0.96);
  font-size: 5rem;
  padding-left: 20px;
}

/*
FOOTER===============
*/
