@import url("https://fonts.googleapis.com/css?family=Quicksand");
body {
  margin: 0;
  font-family: Quicksand;
}
/*
HEADER===============
*/

/*
MAIN_CONTENT===============
*/

/*
=========HOME===============
*/
.home-hero {
  height: 600px;
  background-image: url(https://images.unsplash.com/photo-1434493789847-2f02dc6ca35d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80);
  background-size: cover;
}

.home-hero-txt {
  color: rgba(248, 248, 248, 0.96);
  font-size: 5rem;
  padding-left: 20px;
}

.sale-products-block {
  display: flex;
}

/*
=========PRODUCT===============
*/

.ctn-product {
  width: 50vw;
  height: 400px;
  background-position: center center;
  background-image: url(https://images.unsplash.com/photo-1579586337278-3befd40fd17a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8c21hcnQlMjB3YXRjaHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60);
  background-size: cover;
  color: rgba(248, 248, 248, 0.96);
  padding-left: 20px;
  font-size: 2rem;
}

.product-model {
  color: inherit;
}
/*
FOOTER===============
*/
