@import url("https://fonts.googleapis.com/css?family=Quicksand");
body {
  margin: 0;
  font-family: Quicksand;
  background-color: whitesmoke;
}
/*
HEADER===============
*/

/*
MAIN_CONTENT===============
*/

/*
=========HOME===============
*/

.home-hero {
  height: 600px;
  background-image: url(https://images.unsplash.com/photo-1434493789847-2f02dc6ca35d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80);
  background-size: cover;
}

.home-hero-txt {
  color: rgba(248, 248, 248, 0.96);
  font-size: 5rem;
  padding-left: 20px;
}

.sale-products-block {
  display: flex;
}

.home-tagline-txt {
  color: rgba(120, 140, 255, 0.96);
  font-size: 3rem;
  font-weight: 600;
  padding-left: 20px;
  text-align: center;
}

/*
=========FEATURED_PRODUCT===============
*/

.ctn-featured-product {
  width: 50vw;
  height: 400px;
  color: rgba(248, 248, 248, 0.96);
  font-size: 2rem;
  transition: transform 400ms;
  overflow: hidden;
  position: relative;
}

.ctn-featured-product:hover {
  transform: scale(1.05);
  filter: brightness(80%);
}

.featured-product-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.ctn-featured-product-description {
  padding-left: 20px;
}

.product-model {
  color: inherit;
}

/*
=========PRODUCT===============
*/

.ctn-product {
  margin: 20px auto;
  width: 25rem;
  color: rgba(132, 132, 132, 0.96);
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.204);
  border-radius: 20px;
  font-size: 2rem;
  overflow: hidden;
  transition: transform 200ms;
}

.ctn-product:hover {
  transform: scale(1.01);
}

.ctn-product:hover .product-img {
  filter: brightness(90%);
}

.product-img {
  width: 100%;
  transition: filter 200ms;
}

.ctn-product-description {
  padding-left: 20px;
}

.product-model {
  color: inherit;
}

.product-buy-btn {
  display: block;
  margin: auto;
  font-family: inherit;
  background-color: inherit;
  border: 1px solid rgb(188, 188, 188);
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.product-buy-btn:hover {
  border-color: rgb(142, 142, 142);
}

.product-buy-btn:active {
  border-color: rgb(89, 88, 88);
}
/*
=========ProductsView===============
*/
.ctn-products {
  display: flex;
  flex-wrap: wrap;
}
/*
FOOTER===============
*/

.BrandsViewContainer {
  border: 1px solid black;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
}
/*
NAVBAR======================
*/
.nav-bar {
  color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.035);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  padding: 1.15rem 1rem 1.15rem 1rem;
}

.navLink {
  text-decoration: none;
  font-family: inherit;
  margin: 1rem;
}

.navLink:visited {
  color: black;
}

.navLink:hover {
  color: blue;
}

.active {
  text-decoration: none;
  border-bottom: 1px solid blue;
  color: blue;
}
/*
BRAND IMAGES ================
*/

.singleBrandview,
img {
  width: 25vw;
  height: 35vh;
}
